!!!
%html(ng-app)
  %head
    %title Comments

    :plain
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">

    %link{href: '/comments.css', rel: 'stylesheet'}
    %script{src: '/comments.js'}

  %body(ng-app="Comments")
    .container.container-fluid(ng-controller="CommentListController")
      %h1 giving you comments

      %p
        :markdown
          Here are *your* comments:

      %ol
        %li(ng-repeat="comment in comments") {{comment}}

      .row-fluid
        %form.form-inline(ng-submit="addComment()")
          .span11
            %textarea.span12(ng-model="newComment" placeholder="Add comment")

          .span1
            %button.btn.btn-primary{type: 'submit'}
              %i.icon-comment-alt

