!!!
%html
  %head
    %title Comments

    :plain
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">

    :javascript
      angular.module('Comments', []);

    %link{href: '/comments.css', rel: 'stylesheet'}
    %script{src: '/comments.js'}

  %body(ng-app="Comments")
    .container.container-fluid(ng-controller="CommentListController")
      %h1 giving you comments

      %p Here are your comments:

      %ol
        %li(ng-repeat="comment in comments") {{comment}}

      .row-fluid
        %form.form-inline(ng-submit="addComment()")
          .span11
            %textarea.span12(ng-model="newComment" placeholder="type here")

          .span1
            %button.btn.btn-info{type: 'submit'}
              %i.icon-comment

